html {
    overflow-y:visible;
}
form {
    height: 90%;
    width: 90%;
    margin: 5%;
}

h1 {
    color: white;
    margin-bottom: 5vw;
    font-size: 7vw;
}

textarea {
    font-family: Arial;
    font-weight: normal;
    font-size:2vw;
}

#pageWrapper {
    height:fit-content;
}

#formWrapper {
    height: fit-content;
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.contactArea {
    font-family: Arial;
    font-size: 2vw;
    color: black;
    border: none;
    outline: none;
    margin-bottom: 5vw;
}

#email {
    width: 100%;
    height: 3vh;
}

#message {
    width: 100%;
    height: 20vh;
}

#sendBtn {
    padding: 5px;
    background-color: #4c4c4c;
    width:45vw;
    height:10vw;
    font-family: Arial;
    font-weight: normal;
    font-size: 5vw;
    color:white;
}

    #sendBtn:active {
        background-color: rgba(84,82,77);
    }

#contactMessage {
    display:flex;
    justify-content:center;
    align-content:center;
    margin: 5%;
}