html {
    background: #181F24;
    overflow-y: visible;
    font-family: "Trebuchet MS";
    text-align:center;
}
header {
    padding: 3vh 0vh;
    background-color: #4c4c4c;
    box-shadow: none;
    margin-bottom: 5vh;
    font-size:5vw;
}

header li {
    list-style: none;
    display: inline-block;
}

h1 {
    font-size:10vw;
}

a:link {
    color:white;
}

a:visited {
    color: white;
}

p {
    align-content:center;
    justify-content:center;
}

#cardWrapper {
    height: 100vh;
    width: 90vw;
    display: flex;
    color: rgba(248,240,227);
    flex-direction:column;

    padding-top:10vh;
    padding-bottom:10vh;
}

#photoWrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #4c4c4c;

    padding-bottom:10vh;
}

#textWrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content:center;

    padding-bottom: 10vh;
}

#pfp {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#iText {
    font-style: italic;
}