#cardWrapper {
    height: 100vh;
    width: 90vw;
    display: flex;
    color: rgba(248,240,227);
    flex-direction:column;

    padding-top:10vh;
    padding-bottom:10vh;
}

#photoWrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    padding-bottom:10vh;
}

#textWrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content:center;

    padding-bottom: 10vh;
}

#pfp {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
